#datfiles
representative_nets/
*.dat

#infiles
*.in

#logfile
*.lammps

#dump files
*.res

#log
log

#python files
run_tests.py
run_hybrid.py
angleRestriction_effect.py
springStifness_effect.py
utils/post_processing.py
utils/__pycache__/
radius_effect.py
run_DN.py

# results folder
results/
